/MassRead/node_modules
/node_modules
/MassReadEx/node_modules
/DontUseMassReadEx/node_modules
/MassNotify.Consumer/node_modules
/MassNotify.Poster/node_modules
/MassFile/node_modules
/MassDbSrvc/node_modules
.vscode
